<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Request Template</title>
    <style>
       
        li{
            list-style-type: none;
            margin: 0;
           
        }
        ul{
            margin: 0;
            padding:0;
        }

        strong{
            text-align: center;
            display: block;
        }
        li strong{
            display: inline;
        }
        li{
            padding:8px;
        }
      
    </style>
</head>
<body style = "
        width:70%; 
        margin-left: 15%; 
        color:black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.5em;
        padding:10px;">
    <h1 style ="text-align: center; "><%= emailTitle%></h1>
    <div>
            
            <p style=" text-align: center;padding:4px;">
               <%= mailBody %>
            </p>
           
            <section>
                  
            <strong>Here are the details:</strong>
                <ul>
                    <li style = "text-align: center;"> <img src=<%= request.image%> alt="" width="300px" height ="300px"></li>
                    <li><strong>Date:</strong> <%= new Date(request.date).toDateString()%></li>
                    <li><strong>Client Username:</strong> <%= request.clientUsername%></li>
                    <li><strong>Title:</strong> <%= request.title%></li>
                    <li><strong>Location:</strong> <%= request.location%></li>
                    <li><strong>Description:</strong> <%= request.description%></li>
                </ul>
            </section>
    </div>
    
    

</body>
</html>